.QuickStart {
  width: 720px;
  max-width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Description {
  margin: 24px 0;
}

.Button {
  margin: 16px 0;
}