.Button {
  -webkit-appearance: none;
  background: white;
  box-shadow: none;
  border: 1px solid black;
  padding: 12px 24px;
  font-size: 14px;
  text-align: center;
  min-width: 120px;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}

.Button:hover {
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
}

.Button:focus {
  outline: none;
}

.Wide {
  width: 100%;
}

.Button[disabled] {
  opacity: 0.75;
  border: 1px dashed black;
  cursor: not-allowed;
}